.wallet-menu {
    // height: 200px;
    padding: unset;
    padding-bottom: 20px;

    &-balance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        gap: 3px;
        background: var(--primary);
        border-radius: 36px;
        margin-bottom: 16px;

        &__title {
            color: var(--gray-secondary);
            font-size: 17px;
        }

        &__value {
            color: var(--white-color);
            font-size: 30px;
            font-weight: 700;
        }
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 20px;
        gap: 15px;
    }

    &-control {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        // gap: 15px;

        &-amount {
            width: 200px;
        }
    }

    &-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &-error {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8px;
        gap: 15px;
    }

    a {
        width: 100%;
    }
}
