* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    color: var(--white);
    font-weight: 400;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

