:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #5B4CD7;
    --green-color: #22C55E;
    --green-light: #1BEB4F;
    --border-color: #6559E5;
    --border-secondary: #464646;
    --gray-color: #8E8E93;
    --gray-secondary: #D0D0D0;
    --send-bg: #272727;
}